.title{
    top: 0;
    margin-top: 0;
    height: 1em;
    padding: 1em;
    font-size: 2.5em;
    font-style: italic;
}

@media only screen and (max-width: 470px) {
    .title {
        font-size: 1.5em;
    }
  }

.cityname{
    font-size: 1.5em;
    padding: 0;
    margin-bottom: 0;
}

.mainDivDayCards{
    color: white;
}

.dayCards{
    overflow-y: scroll;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8%;
    padding: 1em;
    background-color: #063368;
}

.beginFooter{
    position: fixed;
}

@media only screen and (min-width: 1064px) {
    footer {
        position: fixed;
    }
  }